/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a.no-default {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* buttons */

button {
    border: none;
    padding: 9px 15px 7px 15px;
    font-size: inherit;
}

button.transp {
    background-color: inherit;
    color: black;
}

button.blue {
    background-color: rgb(0, 97, 255);
    color: white;
}

button.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* fine buttons */

.container {
    width: 100%;
}

.container-1200px {
    width: 1200px;
    margin: auto;
}

.container-920px {
    width: 920px;
    margin: auto;
}

.col-100 {
    width: 100%;
}

.col-70 {
    width: 70%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}


/* text formats */

h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 80px 0;
}

h2 {
    font-size: 40px;
    margin: 40px 0;
}

/* fine text formats */
/* header */
/* nav */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: white;
    box-shadow: 0 0 2px gray;
}

ul {
    list-style: none;
}

nav ul,
nav col {
    display: flex;
}

nav a {
    margin: 0 20px;
}

nav>.row>.col {
    margin: 25px 20px;
}

nav img {
    margin-right: 15px;
}

#nav-buttons {
    display: inline-block;
}

nav .row {
    justify-content: space-between;
    align-items: flex-end;
}

/* fine header */
/* main */

main {
    margin-top: 84px;
}

/* jumbotron */

#jumbotron {
    background-color: rgb(180, 208, 231);
    width: 100%;
}

#jumbotron .row {
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

#jumbotron .col-70 img {
    width: 100%;
}

#jumbotron button {
    margin: 35px 0;
    padding: 13px 18px;
}

#arrow-down {
    font-size: 50px;
    margin-top: 70px;
}

#jumbotron .col-70 {
    position: absolute;
    right: 0;
    bottom: -75px;
}

/* sezione abbonamenti */

#section-abb {
    margin-top: 105px;
}

#section-abb .row {
    justify-content: space-between;
    align-items: stretch;
}

#section-abb .col-33 {
    width: calc(100% / 3 - 30px);
    border: 2px solid rgb(227, 227, 229);
    margin: 60px 0;
}

.n-utenti {
    width: 100%;
    border-bottom: 2px solid rgb(227, 227, 229);
    text-align: center;
    padding: 10px;
}

#section-abb .content {
    padding: 30px 30px;
}

#section-abb .row>.col-100:last-child {
    border: 2px solid rgb(227, 227, 229);
    display: flex;
    flex-wrap: wrap;
}

#section-abb h6 {
    margin: 10px 0 7px 0;
}

#section-abb .content p {
    font-size: 12px;
    color: rgb(146, 146, 146);
}

.lista-in-abb {
    min-height: 120px;
    margin: 50px 0;
}

.lista-in-abb li {
    margin: 10px 0;
    font-size: 12px;
    display: flex;
}

.lista-in-abb li i {
    font-size: 12px;
    margin-right: 7px;
}

#section-abb .col-33 button {
    width: 100%;
    font-size: 12px;
}

#section-abb .content div {
    font-size: 12px;
    margin: 20px 0;
}

#section-abb .content hr {
    width: 20%;
    background-color: rgb(227, 227, 229);
    height: 2px;
}

.fa-check {
    color: rgb(18, 101, 255);
}

#section-abb .col-100 button {
    font-size: 12px;
}

/* sezione partners */

#partners {
    margin-top: 130px;
}

#partners img {
    width: 100%;
}

#partners .col-40 {
    padding: 50px;
}

#partners .col-40 p {
    margin: 20px 0;
}

/* sezione operazioni */

#operazioni {
    margin-top: 70px;
}

#operazioni .row {
    justify-content: space-between;
}

#operazioni .col-33 {
    width: calc(100% / 3 - 30px);
}

#operazioni .col-33 img {
    width: 100%;
}

#operazioni .col-33 p {
    margin: 30px 0;
}

/* sezione clienti */

#sezione-clienti .container {
    background-color: rgb(245, 245, 245);
    margin-top: 80px;
}

#sezione-clienti .row {
    margin: auto;
    justify-content: center;
    max-width: 1920px;
}

#sezione-clienti .col-33>.content{
    padding: 65px;
}

#sezione-clienti .col-33>.content>img {
    width: calc(50% - 50px);
}

#sezione-clienti .col-33 {
    max-width: calc(1920px / 3);
    height: calc(1920px / 3);
    display: flex;
    flex-wrap: wrap;
}

#sezione-clienti .col-33:nth-child(2){
    display: inline-block;
}

#sezione-clienti .col-33>.content>hr {
    width: 15%;
    margin: 50px 0;
    border-color: lightgray;
}

#sezione-clienti p{
    font-size: 15px;
    margin-bottom: 50px;
}

.square {
    width: 50%;
    height: 50%;
    position: relative;
}

.square img {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

/* styling squares */

#designit {
    background-color: rgb(162, 211, 155);
    border: solid rgb(209, 233, 205) 15px;
}

#arizona-state-university {
    background-color: rgb(97, 8, 43);
}

#university-of-florida {
    background-color: rgb(0, 147, 206);
}

#topps {
    background-color: rgb(255, 28, 28);
}

#world-bicycle-relief {
    background-color: rgb(213, 0, 31);
}

#hearst {
    background-color: rgb(180, 208, 231);
}

#lonely-planet {
    background-color: rgb(13, 36, 129);
}

#clear-channel-outdoor {
    background-color: rgb(255, 216, 48);
}

/* sezione prova gratuita */

#section-prova-gratuita {
    color: rgb(97, 8, 43);
    background-color: rgb(180, 208, 231);
}

#section-prova-gratuita .row>* {
    display: flex;
    align-items: center;
    margin: 60px 0;
}

#section-prova-gratuita .row>.col-40 {
    justify-content: flex-end;
}

#section-prova-gratuita button {
    border: none;
    padding: 15px 50px;
}

/* section faq */

#faq {
    margin: 150px 0;
}

#faq .row>* {
    border-bottom: 0.01px solid black;
}

#faq .col-100>p {
    margin: 30px 0;
    font-weight: 700;
}

#faq .col-100 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#faq h2 {
    margin-top: 0;
}

.arrows {
    cursor: pointer;
}

.risposta {
    display: none;
    padding: 0 30px 30px 30px;
    margin: 0;
    font-size: 13px;
}

.uparr {
    display: none;
}

.arrows:hover .uparr {
    display: block;
}

.arrows:hover .downarr {
    display: none;
}

.col-100 .arrows:hover+.container .risposta {
    display: block;
}



/* footer */

footer {
    background-color: black;
    color: white;
}

/* bottom nav */

#bottom-nav {
    padding: 100px 0;
}

#bottom-nav .row {
    flex-direction: row;
}

#bottom-nav li {
    margin: 15px 0;
}

/* sezione lingua */

#lingua .row {
    color: rgb(153, 153, 153);
}

#lingua .row {
    padding: 40px 0;
}

#lingua #scegli-lingua {
    border: none;
    background-color: inherit;
    color: inherit;
}

/* L'HR (letto "accaerre") OSSIA LA LINEA ORIZZONTALE */

#lingua hr {
    width: 10%;
}